<style>
/* CUSTOMIZE THE CAROUSEL

    -------------------------------------------------- */
    /* Carousel base class */

    .carousel {

      margin-bottom: 60px;

    }

    .carousel .container {

      position: relative;

      z-index: 9;

    }


    .carousel-control {

      height: 80px;

      margin-top: 0;

      font-size: 120px;

      text-shadow: 0 1px 1px rgba(0,0,0,.4);

      background-color: transparent;

      border: 0;

      z-index: 10;

    }



    .carousel .item {

      height: 500px;

    }

    .carousel img {

      position: absolute;

      top: 0;

      left: 0;

      min-width: 100%;

      height: 500px;

    }



    .carousel-caption {

      background-color: transparent;

      position: static;

      max-width: 550px;

      padding: 0 20px;

      margin-top: 200px;

    }

    .carousel-caption h1,

    .carousel-caption .lead {

      margin: 0;

      line-height: 1.25;

      color: #fff;

      text-shadow: 0 1px 1px rgba(0,0,0,.4);

    }

    .carousel-caption .btn {

      margin-top: 10px;

    }
</style>

<!-- Carousel

    ================================================== -->

    <div id="myCarousel" class="carousel slide">

      <div class="carousel-inner">

        <div class="item active">

	  <%= image_tag("slide0.jpg") %>

          <div class="container">

            <div class="carousel-caption">

              <h1>Example headline.</h1>

              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

              <a class="btn btn-large btn-primary" href="#">Sign up today</a>

            </div>

          </div>

        </div>

        <div class="item">

	  <%= image_tag ("slide1.jpg") %>

          <div class="container">

            <div class="carousel-caption">

              <h1>Another example headline.</h1>

              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

              <a class="btn btn-large btn-primary" href="#">Learn more</a>

            </div>

          </div>

        </div>

        <div class="item">
	  <%= image_tag("slide2.jpg") %>

          <div class="container">

            <div class="carousel-caption">

              <h1>One more for good measure.</h1>

              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

              <a class="btn btn-large btn-primary" href="#">Browse gallery</a>

            </div>

          </div>

        </div>

      </div>

      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>

      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>

    </div><!-- /.carousel -->


    <div id="education" class="center hero-unit">

      <div class="circle-text"><div>56%</div></div>
      <div class="circle-text"><div>25%</div></div>
      <div class="circle-text"><div>13%</div></div>

      <h1>The Education Gap</h1>
      <ul>
	<li>56% of low income students are underprepared in mathematics</li>
	<li>25% of minority students leave STEM majors because of inadequete preparation</li>
	<li>And only 13% of STEM degrees are earned by minorities</li>
	</ul>
    </div><!-- /workForce -->


    <div id="workForce" class="center hero-unit">
      <h1>The Work Foce Dilemma</h1>
      <ul>
	<li>Only 6% of STEM Workers are black</li>
	<li>Only 4% of STEM Workers are Latino </li>
	<li>Only 27% of STEM Workers are Women</li>
      </ul>
    </div><!-- /workForce -->


    <div id="solution" class="center hero-unit">
      <h1>Our Efforts</h1>
      <p>AI in Action helps bridge the gap in the Orangeburg, SC community by preparing students for STEM education. We a course in probalistic robotics which exposes students to an array of topics in mathematics and computer science.</p>
      <p>Students have the opportunity to learn about:</p>
      <ul>
	<li>Python</li>
	<li>Linux</li>
	<li>Robot Navigation</li>
	<li>Robot Path Planning</li>
	<li>Computer Vision</li>
	<li>ROS (Robot Operating System)</li>
	<li>Linear Algebra</li>
	<li>Probability Theory</li>
      </ul>
      
    </div><!--/solution-->

<%= link_to image_tag("rails.png", alt: ""), 'http://rubyonrails.org/' %>

